<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mbarara_waste_solution">

    <application
        android:allowBackup="true"
        android:icon="@drawable/images"
        android:label="@string/app_name"
        android:roundIcon="@drawable/images"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Settings"></activity>
        <activity android:name=".ItemsToUse" />
        <activity
            android:name=".Preferences"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".ABOUT">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mbarara_waste_solution.ABOUT" />
        </activity>
        <activity android:name=".REPORT" />
        <activity android:name=".SIGNUP" />
        <activity android:name=".THIRD" />
        <activity android:name=".SIGNIN" />
        <activity android:name=".ABOUT" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>